<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- BEATS -->
    <add name="metastrings" connectionString="Server=localhost; Database=metastringsbeats; Uid=michael; Pwd=balloni;" />
    <!-- FQL 
    <add name="metastrings" connectionString="Data Source=[UserRoaming]metastrings-fql-app.db"/>
    -->
  </connectionStrings>
</configuration>
